body{
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Wix Madefor Display', sans-serif;
}

/*-------NAV------------*/
nav{
    background:  #F7F7F7;
    height: 115px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 5px 50px;
}
.logo{
    height: 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #393E46;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    background:#dbd9cb;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*-----------RESPONSIVE-----------------------*/
@media (max-width: 952px){
    nav {
        position: fixed;
    }
    .enlace{
        position: fixed;
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .ppal{
        position: fixed;
        font-size: 16px;
        /* display: block; */
        flex-wrap: nowrap;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100%;
        background:rgb(232, 229, 223);
        border-radius: 5%;
        top: 2px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(255, 255, 255);
    }
    #check:checked ~ ul{
        left:0;
    }
}

/*-----------MAIN CONTENT-----------*/
main{

    flex-direction:column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ppal {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 2%;
    border-bottom: 2px solid #CEDCC3;
}
.main-title1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.main-text{
    text-align: center;
    margin: 40px;

}

.galeria-imagenes{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.grid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    margin: 30px;
    width: 350px;
    height: 440px;
    background-color: #99A98F;
    box-shadow: 2px 2px 4px rgba(182, 182, 182, 1.5);
    transition: transform 0.5s;
    background-size: cover;
    text-align: center
}

.grid-item:hover {
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
    transform: translateY(-12px);
    opacity: .8;
}

.grid-item img {
    width: 100%;
    height: 270px;
    object-fit: cover;

  }

.grid-item h3{
    text-align: center;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #393E46;
}
.btn {
    align-content: center;
    padding: 10px;
    background-color: #393E46;
    height: 50px;
    width: 350px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px solid #99A98F;
    margin-bottom: 10px;
  }
.btn:hover {
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
    transform: translateY(-12px);
    opacity: .2;
}
  .grid-item a{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 15px;
    color: white;
    border: none;
  }
  @media (max-width: 858px){

    .ppal,.main-title1,.main-text{
        position: fixed;
        min-width: 50%;
        height: 50%;
        /* background:rgb(232, 229, 223);
        border-radius: 5%;
        top: 2px;
        left: -100%; */
        text-align: center;
        transition: all .5s;
    }
}
/*------FOOTER--------------*/
footer{
    background-color: #E5E5CB;
    text-align:center;
    padding: 20px;
}

.rr-ss{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px;
}
.rr-ss a {
    color: #000;
}
.rr-ss i{
    font-size: 30px;
    padding: 0 30px 30px 30px;
    border-bottom: 1px solid #000;
}
footer a{
    text-decoration: none;
    color: #000;

}
footer a:hover{
    color:#ded6a5;
}
.enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    word-spacing: 5px;
    font-size: 18px;
    margin: 10px;
}
@media (max-width: 952px){
}