body{
    margin: 0; 
}
    
header{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.nav {
    margin: 30px 0;
}
.nav ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: #4a4848;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    transition: color 0.25s;
}
.nav a:hover {
    color: #000;
}
.slider img {
    width: 100%;
}
footer{
    display: flex;
    justify-content: space-between;
}
.texto-footer{
    text-align: center;
}