body{
    font-family: 'Wix Madefor Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------NAV------------*/
nav{
    background:  rgb(232, 229, 223);
    height: 170px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 120px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #000000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    background:#dbd9cb;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:   rgb(74, 72, 69);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*---------NAV-RESPONSIVE-------------*/
@media (max-width: 1200px){
    nav {
        position: fixed;
    }
    .enlace{
        position: fixed;
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 50%;
        height: 100%;
        background: rgb(232, 229, 223);;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
     nav li a:hover, li a.active{
        background: none;
        color:  rgb(255, 255, 255);
    }
    #check:checked ~ ul{
        left:0;
    }
}
/*----------------MAIN---------*/
.ppal {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 10px;
    border-bottom: 2px solid #CEDCC3;
    padding: 10px;
}
.main-title1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
.main-text{
    text-align: center;
    margin: 20px;
    font-size: 18px;

}

/*------FOOTER--------------*/
footer{
    background-color:  #E5E5CB;
    text-align:center;
    padding: 20px;
}

.rr-ss{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px;
}
.rr-ss a {
    color: #000;
}
.rr-ss i{
    font-size: 30px;
    padding: 0 30px 30px 30px;
}
footer a{
    text-decoration: none;
    color: #000;

}
footer a:hover{
    color:#ded6a5;
}
.enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    word-spacing: 5px;
    font-size: 18px;
    margin: 10px;

} 
@media (min-width:360px) and (max-width: 720px){

    footer{
        height: 60%;
        width: 100%;
    }
    .rr-ss{
        padding: 10px;
    }
        .rr-ss i{
            font-size: 80%;
            padding: 10px
        }
        .enlaces{
            font-size: 80%;
        }
    }
    @media (min-width: 721px){ 

    }


